/*.block-wrapper:hover {
	background-color: #e0e0e0e0;
}

.block-wrapper:hover .block {
	background-color: #d0d0d0d0;
}*/

.block-wrapper .block .block-controls {
	width: calc(var(--column-width) - var(--column-padding));
}

.block-wrapper > .absolute-menu-wrapper {
	visibility: hidden;
}

.block-wrapper:hover > .absolute-menu-wrapper {
	visibility: visible;
}

.block > p,
.block > ul,
.block > ol,
.block > h1,
.block > h2,
.block > h3,
.block > h4,
.block > h5,
.block > a {
	margin: 0;
}

a {
	color: #ededed;
}

.block {
	/*margin: 0px 5px;*/
	color: #ededed;
	font-size: 1.1rem;
	resize: none;
	padding: 5px;
	padding-right: 20px;
	/*background-color: #262626;*/
}

.block-dark {
	background-color: #222222 !important;
	width: calc(100% - 35px);
	margin-top: 5px;
}

.block-transcluded {
	background-color: #262626;
	font-style: italic;
	padding-left: 10px;
	border-left: 5px solid #313131;
	/*width: calc((var(--column-width) - var(--column-padding)) - 2px);*/
}

.block-saved {
	border: 3px solid #dcdcdc;
	/*background-color: #ededed;*/
}

.block-saved-label {
	color: #dcdcdc;
	float: right;
}

.block-button {
	cursor: pointer;
	display: block;
	padding: 5px;
	font-size: 14px;
	font-family: freight-sans-pro, sans-serif;
	/*margin: 5px 0px;*/
	width: 50px;
	background-color: #262626;
}

textarea {
	width: calc(100% - 15px);
	padding: 5px !important;
	background-color: #262626 !important;
	position: relative;
}

textarea:focus {
	background-color: #313131 !important;
}

.loader {
	height: 5px;
	width: 5px;
	color: #dcdcdc;
	position: relative;
	display: inline-block;
	border: 3px solid;
	border-radius: 50%;
	border-top-color: transparent;
	animation: rotate 1s linear infinite;
}

@keyframes rotate {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}
