.discussion-wrapper {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	align-content: flex-start;
	/*justify-content: flex-start;*/
	flex-wrap: wrap;
	width: 100%;
}

.discussion-loading {
	font-size: 24px;
	margin: 250px auto;
	width: 300px;
}
.discussion-title-wrapper {
	padding-left: 10px;
	width: 100%;
}

.discussion-theme {
	font-family: freight-sans-pro, sans-serif;
}
