.post-editor {
	display: flex;
	align-items: flex-end;
	flex-wrap: wrap;
	align-content: flex-end;

	/*position: absolute;
	bottom: 0;*/
	padding-bottom: 20px;
	/*max-width: calc(var(--column-width) - var(--column-padding) * 2);*/
	width: 100%;
}

.post-editor-content {
	width: 100%;
}
button {
	margin-top: 20px;
}
